apiVersion: v1
kind: Secret
metadata:
  name: glamdrop-secrets
  namespace: glamdrop
type: Opaque
stringData:
  jwt-secret: "change-me-to-a-secure-jwt-secret-min-32-chars"
  postgres-host: "glamdrop-postgres-db.xxxxxxxxxxxx.eu-south-1.rds.amazonaws.com"
  postgres-port: "5432"
  postgres-user: "postgres"
  postgres-password: "change-me-to-db-password"
  postgres-db: "glamdrop"
  redis-url: "rediss://:change-me-redis-auth@glamdrop-redis.xxxxxx.0001.eu-south-1.cache.amazonaws.com:6379"
  redis-host: "glamdrop-redis.xxxxxx.0001.eu-south-1.cache.amazonaws.com"
  redis-auth-token: "change-me-redis-auth"
  rabbitmq-url: "amqps://glamdrop:change-me-rabbitmq-pass@b-xxxxxxxx.mq.eu-south-1.amazonaws.com:5671"
  rabbitmq-user: "glamdrop"
  rabbitmq-password: "change-me-rabbitmq-pass"
  dynamodb-notifications-table: "glamdrop-notifications"
  aws-region: "eu-south-1"
  auth-service-url: "http://auth-service:3001"
  booking-service-url: "http://booking-service:3002"
