# Notification Service - Environment Variables
# In production on AWS, values are populated from AWS SSM Parameter Store via Kubernetes secrets.
PORT=3004
RABBITMQ_URL=amqps://glamdrop:your_rabbitmq_password@b-xxxxxxxxxxxx.mq.eu-south-1.amazonaws.com:5671
DYNAMODB_TABLE=glamdrop-notifications
AWS_REGION=eu-south-1
TZ=Europe/Rome
